<!-- Start Stats -->
<div class="stats" id="stats">
  <h2>Nos Impressionnantes Statistiques</h2>
  <div class="container">
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150">150</span>
      <span class="text">Clients</span>
    </div>
    <div class="box">
      <i class="fas fa-code fa-2x fa-fw"></i>
      <span class="number" data-goal="135">135</span>
      <span class="text">Projets</span>
    </div>
    <div class="box">
      <i class="fas fa-globe-asia fa-2x fa-fw"></i>
      <span class="number" data-goal="50">50</span>
      <span class="text">Pays</span>
    </div>
    <div class="box">
      <i class="far fa-money-bill-alt fa-2x fa-fw"></i>
      <span class="number" data-goal="500">500</span>
      <span class="text">Argent</span>
    </div>
  </div>
</div>
<!-- End Stats -->
