<!-- Start Témoignages -->
<div class="testimonials" id="testimonials">
  <h2 class="main-title">Témoignages de nos Clients</h2>
  <div class="container">
    <div class="box">
      <img src="/assets/imgs/avatar-01.png" alt="" />
      <h3>Ali Ben Ahmed</h3>
      <span class="title">Propriétaire d'un Commerce</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
      </div>
      <p>
        Nous avons choisi Zarzis Aluminium pour la fabrication de nos portes et fenêtres en aluminium. Leur travail est exceptionnel, et la qualité est incomparable. Merci pour le professionnalisme et le service exceptionnel.
      </p>
    </div>
    <div class="box">
      <img src="/assets/imgs/avatar-01.png" alt="" />
      <h3>Fatima Hassen</h3>
      <span class="title">Propriétaire d'une Résidence</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        Zarzis Aluminium a réalisé un travail extraordinaire pour la conception et l'installation de nos portes coulissantes en aluminium. Nous sommes extrêmement satisfaits du résultat et nous recommandons leurs services à tous.
      </p>
    </div>
    <div class="box">
      <img src="/assets/imgs/avatar-01.png" alt="" />
      <h3>Karim Dridi</h3>
      <span class="title">Entrepreneur</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        J'ai eu une expérience fantastique avec Zarzis Aluminium. Ils ont fourni des solutions sur mesure pour les fenêtres de mon entreprise. Leur équipe est compétente et le résultat final est à la hauteur de mes attentes.
      </p>
    </div>
    <!-- Ajoutez d'autres témoignages au besoin -->
  </div>
</div>
<!-- End Témoignages -->
