<!-- Start Discount -->
<div class="discount" id="discount">
  <div class="image">
    <div class="content">
      <h2>Nous Offrons une Remise Exceptionnelle</h2>
      <p>
        Zarzis Aluminium vous propose une remise spéciale sur nos produits de menuiserie d'aluminium. Profitez de cette occasion pour embellir votre espace avec nos solutions de qualité.
      </p>
      <img src="imgs/discount.png" alt="" />
    </div>
  </div>
  <div class="form">
    <div class="content">
      <h2>Demandez Votre Remise</h2>
      <form action="">
        <input class="input" type="text" placeholder="Votre Nom" name="name" />
        <input class="input" type="email" placeholder="Votre Email" name="email" />
        <input class="input" type="text" placeholder="Votre Téléphone" name="mobile" />
        <textarea class="input" placeholder="Parlez-nous de vos besoins" name="message"></textarea>
        <input type="submit" value="Envoyer" />
      </form>
    </div>
  </div>
</div>
<!-- End Discount -->


















<!--&lt;!&ndash; Start Discount &ndash;&gt;-->
<!--<div class="discount" id="discount">-->
<!--  <div class="image">-->
<!--    <div class="content">-->
<!--      <h2>We Have A Discount</h2>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae-->
<!--        ratione provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique-->
<!--        laborum dicta aperiam odit doloribus corporis.-->
<!--      </p>-->
<!--      <img src="imgs/discount.png" alt="" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form">-->
<!--    <div class="content">-->
<!--      <h2>Request A Discount</h2>-->
<!--      <form action="">-->
<!--        <input class="input" type="text" placeholder="Your Name" name="name" />-->
<!--        <input class="input" type="email" placeholder="Your Email" name="email" />-->
<!--        <input class="input" type="text" placeholder="Your Phone" name="mobile" />-->
<!--        <textarea class="input" placeholder="Tell Us About Your Needs" name="message"></textarea>-->
<!--        <input type="submit" value="Send" />-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; End Discount &ndash;&gt;-->
