<!-- Start Footer -->
<div class="footer">
  <div class="container">
    <div class="box">
      <h3>Zarzis Aluminium</h3>
      <ul class="social">
        <li>
          <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
      <p class="text">
        Zarzis Aluminium est présent sur le marché de la menuiserie d’aluminium depuis 1989. Nous sommes spécialisés dans la construction des produits en aluminium et en verre : fenêtres, portes, escalier et rideaux.
      </p>
    </div>
    <div class="box">
      <ul class="links">
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Galerie</a></li>
        <li><a href="#">Obtenir Un Devis</a></li>
        <li><a href="#">Coordonnées</a></li>
      </ul>
    </div>
    <div class="box">
      <div class="line">
        <i class="fas fa-map-marker-alt fa-fw"></i>
        <div class="info">4 km Route touristique, souihel, Zarzis 4173, Tunisie</div>
      </div>
      <div class="line">
        <i class="far fa-clock fa-fw"></i>
        <div class="info">Horaires d'ouverture: Lun-Ven 08:00–18:00, Sam 08:00–17:00, Dim Fermé</div>
      </div>
      <div class="line">
        <i class="fas fa-phone-volume fa-fw"></i>
        <div class="info">
          <span>+98 431 357</span>
        </div>
      </div>
    </div>
    <div class="box footer-gallery">
      <img src="/assets/imgs/gallery-01.png" alt="" />
      <img src="/assets/imgs/gallery-01.png" alt="" />
      <img src="/assets/imgs/gallery-01.png" alt="" />
      <img src="/assets/imgs/gallery-01.png" alt="" />
      <img src="/assets/imgs/gallery-01.png" alt="" />
      <img src="/assets/imgs/gallery-01.png" alt="" />
    </div>
  </div>
  <p class="copyright">Made With &lt;3 By Zarzis Aluminium</p>
</div>
<!-- End Footer -->















<!--&lt;!&ndash; Start Footer &ndash;&gt;-->
<!--<div class="footer">-->
<!--  <div class="container">-->
<!--    <div class="box">-->
<!--      <h3>Elzero</h3>-->
<!--      <ul class="social">-->
<!--        <li>-->
<!--          <a href="#" class="facebook">-->
<!--            <i class="fab fa-facebook-f"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" class="twitter">-->
<!--            <i class="fab fa-twitter"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" class="youtube">-->
<!--            <i class="fab fa-youtube"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <p class="text">-->
<!--        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus nulla rem, dignissimos iste aspernatur-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <ul class="links">-->
<!--        <li><a href="#">Important Link 1</a></li>-->
<!--        <li><a href="#">Important Link 2</a></li>-->
<!--        <li><a href="#">Important Link 3</a></li>-->
<!--        <li><a href="#">Important Link 4</a></li>-->
<!--        <li><a href="#">Important Link 5</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <div class="line">-->
<!--        <i class="fas fa-map-marker-alt fa-fw"></i>-->
<!--        <div class="info">Egypt, Giza, Inside The Sphinx, Room Number 220</div>-->
<!--      </div>-->
<!--      <div class="line">-->
<!--        <i class="far fa-clock fa-fw"></i>-->
<!--        <div class="info">Business Hours: From 10:00 To 18:00</div>-->
<!--      </div>-->
<!--      <div class="line">-->
<!--        <i class="fas fa-phone-volume fa-fw"></i>-->
<!--        <div class="info">-->
<!--          <span>+20123456789</span>-->
<!--          <span>+20198765432</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="box footer-gallery">-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--      <img src="https://c8.alamy.com/compfr/kygxg2/tableau-periodique-des-elements-chimiques-de-l-aluminium-symbole-de-la-science-kygxg2.jpg" alt="" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <p class="copyright">Made With &lt;3 By Elzero</p>-->
<!--</div>-->
<!--&lt;!&ndash; End Footer &ndash;&gt;-->
