<!-- Start Services -->
<div class="services" id="services">
  <h2 class="main-title">Nos Services</h2>
  <div class="container">
    <div class="box">
      <i class="fas fa-window-restore fa-4x"></i>
      <h3>Fenêtres et Portes en Aluminium</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-tools fa-4x"></i>
      <h3>Réparation</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fa fa-map-marked-alt fa-4x"></i>
      <h3>Emplacement</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-laptop-code fa-4x"></i>
      <h3>Conception et Fabrication</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-palette fa-4x"></i>
      <h3>Design</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-bullhorn fa-4x"></i>
      <h3>Marketing</h3>
      <div class="info">
        <a href="#">Détails</a>
      </div>
    </div>
  </div>
</div>
<!-- End Services -->
