<!-- Start Landing -->
<div class="landing">
  <div class="container">
    <div class="text">
      <h1>Bienvenue chez Zarzis Aluminium</h1>
      <p>Ici, nous partageons tout sur notre expertise en menuiserie d'aluminium. Découvrez nos produits de qualité, nos réalisations exceptionnelles, et bien plus encore.</p>
    </div>
    <div class="image">
      <img src="/assets/imgs/landing-image.png" alt="" />
    </div>
  </div>
  <a href="#services" class="go-down">
    <i class="fas fa-angle-double-down fa-2x"></i>
  </a>
</div>
<!-- End Landing -->
