<!-- Début En-tête -->
<div class="header" id="header">
  <div class="container">
    <a href="#" class="logo">Zarzis Aluminium</a>
    <ul class="main-nav">
      <li><a href="#articles">Services</a></li>
      <li><a href="#gallery">Galerie</a></li>
      <li><a href="#features">Témoignages</a></li>
      <li>
        <a href="#">Autres Liens</a>
        <!-- Début Megamenu -->
        <div class="mega-menu">
          <div class="image">
            <img src="/assets/imgs/megamenu.png" alt="" />
          </div>
          <ul class="links">
            <li>
              <a href="#testimonials"><i class="far fa-comments fa-fw"></i> Fonctionnalités</a>
            </li>
            <li>
              <a href="#team"><i class="far fa-user fa-fw"></i> L'équipe</a>
            </li>
            <li>
              <a href="#services"><i class="far fa-building fa-fw"></i> Articles</a>
            </li>
            <li>
              <a href="#our-skills"><i class="far fa-check-circle fa-fw"></i> Nos Compétences</a>
            </li>
            <li>
              <a href="#work-steps"><i class="far fa-clipboard fa-fw"></i> Comment Ça Marche</a>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#events"><i class="far fa-calendar-alt fa-fw"></i> Événements</a>
            </li>
            <li>
              <a href="#pricing"><i class="fas fa-server fa-fw"></i> Plans de Tarification</a>
            </li>
            <li>
              <a href="#video"><i class="far fa-play-circle fa-fw"></i> Vidéos Populaires</a>
            </li>
            <li>
              <a href="#stats"><i class="far fa-chart-bar fa-fw"></i> Statistiques</a>
            </li>
            <li>
              <a href="#discount"><i class="fas fa-percent fa-fw"></i> Demande de Remise</a>
            </li>
          </ul>
        </div>
        <!-- Fin Megamenu -->
      </li>
    </ul>
  </div>
</div>
<!-- Fin En-tête -->
















<!--&lt;!&ndash; Start Header &ndash;&gt;-->
<!--<div class="header" id="header">-->
<!--  <div class="container">-->
<!--    <a href="#" class="logo">Zarzis Aluminium</a>-->
<!--    <ul class="main-nav">-->
<!--      <li><a href="#articles">Articles</a></li>-->
<!--      <li><a href="#gallery">Galerie</a></li>-->
<!--      <li><a href="#services">Services</a></li>-->
<!--      <li>-->
<!--        <a href="#">Liens Utiles</a>-->
<!--        &lt;!&ndash; Start Megamenu &ndash;&gt;-->
<!--        <div class="mega-menu">-->
<!--          <div class="image">-->
<!--            <img src="imgs/megamenu-zarzis.png" alt="" />-->
<!--          </div>-->
<!--          <ul class="links">-->
<!--            <li><a href="#testimonials"><i class="far fa-comments fa-fw"></i> Témoignages</a></li>-->
<!--            <li><a href="#team"><i class="far fa-user fa-fw"></i> Équipe</a></li>-->
<!--            <li><a href="#contact"><i class="fas fa-phone fa-fw"></i> Contact</a></li>-->
<!--            <li><a href="#discount"><i class="fas fa-percent fa-fw"></i> Demande de Remise</a></li>-->
<!--            <li><a href="#our-skills"><i class="far fa-check-circle fa-fw"></i> Nos Compétences</a></li>-->
<!--            <li><a href="#work-steps"><i class="far fa-clipboard fa-fw"></i> Comment Ça Marche</a></li>-->
<!--            <li><a href="#events"><i class="far fa-calendar-alt fa-fw"></i> Événements</a></li>-->
<!--            <li><a href="#pricing"><i class="fas fa-server fa-fw"></i> Plans de Tarification</a></li>-->
<!--            <li><a href="#video"><i class="far fa-play-circle fa-fw"></i> Vidéos Populaires</a></li>-->
<!--            <li><a href="#stats"><i class="far fa-chart-bar fa-fw"></i> Statistiques</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Megamenu &ndash;&gt;-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; End Header &ndash;&gt;-->
